<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                font-family: monospace;
                color-scheme: light dark;
                --container-max-width: 1024px;
                --color-success: #4bc432;
                --color-warning: #f37b21;
                --color-error: #ff6363;
                --color-default: #999;
                --background-color-hover-default: rgba(125, 125, 125, 0.1);
            }

            *::placeholder {
                font-size: 12px;
            }

            hr {
                background-color: var(--color-default);
                border: none;
                color: var(--color-default);
                height: 1px;
                margin: 8px 0;
            }

            h1 {
                font-size: 14px;
            }

            h2 {
                font-size: 14px;
                margin-bottom: 8px;
            }

            h3 {
                font-size: 13px;
            }

            a, a:active, a:visited {
                color: var(--color-warning);
            }

            table {
                border-collapse: collapse;
                border: 1px solid var(--color-default);
                width: 100%;
            }

            table th,
            table td {
                border: 1px solid var(--color-default);
                padding: 4px;
                text-align: center;
            }

            table tr:hover td {
                background-color: var(--background-color-hover-default);
            }

            ul {
                margin-left: 16px;
            }

            header {
                display: block;
                margin: 16px auto;
                max-width: var(--container-max-width);
                overflow: hidden;
                position: relative;
            }

            main {
                display: block;
                margin: 16px auto;
                max-width: var(--container-max-width);
            }

            footer {
                display: block;
                margin: 16px auto;
                max-width: var(--container-max-width);
                overflow: hidden;
                position: relative;
            }

            footer ul li.offline::marker {
                color: var(--color-error)
            }

            footer ul li.online::marker {
                color: var(--color-success)
            }
        </style>
    </head>
    <body>
        <header>
            <h1></h1>
            <div class="float-left">

            </div>
            <div class="float-right">
                <strong>
                    <a href="/">{{ title }}</a> |
                    <a href="https://store.steampowered.com/app/70/HalfLife/" target="_blank" title="v{{ version }}">Game</a> |
                    <a href="https://github.com/FWGS/xash3d-fwgs" target="_blank" title="v{{ version }}">Xash3D</a> |
                    <a href="https://github.com/YGGverse/hlstate-rs" target="_blank" title="v{{ version }}">GitHub</a>
                </strong>
            </div>
        </header>
        <main>
        {% block content %}{% endblock content %}
        </main>
        <footer>
            <h2>Master</h2>
            {% if masters %}
                <ul>
                    {% for master in masters %}
                        <li class="online">{{ master }}</li>
                    {% endfor %}
                <ul>
            {% endif %}
        </footer>
    </body>
</html>